@model AuthenticationGoogle.Models.GoogleUserOutputData

@{
    ViewBag.Title = "GoogleCallBack";
}

<h2>GoogleCallBack</h2>

<div>
    <h4>GoogleUserOutputData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.given_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.given_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Access_token)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Access_token)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
    @Html.ActionLink("LogOut", "LogOut",  new { token = Model.Access_token })
</p>
